* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display:block;
}

/* ******************* START Nav Bar **************** */

nav {
  padding: .9rem .5rem;
	background-color: black;
	text-align: center;
}

/* remove list bullets */
nav ul {
  list-style-type:none;
}

/* nav display horizontal */
nav ul li {
  display:inline;
}
/* Start hover effect nav */
.button,
[class*="button-"] {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0 4%;
  height: 3.5em;
  font: 300 1em/3.5em 'Roboto Condensed', sans-serif;
  text:{
    decoration: none;
    shadow: 0 1px 3px rgba(black, .35);
  }
  letter-spacing: .08em;
  color: #fff;
  background: #0090C0;
  border: solid 1px #fff;
  border-radius: 2px;
  @include transition(.35s ease all);

  &:hover{
    background: #007DA7;
    box-shadow: 0 0 3px rgba(black, .5) inset;
  }
}

.button-hover{

  &:hover{ line-height: 9em; }

  &:before{
    content: attr(data-text);
    color: #DEEFF5;
    position: absolute;
    top: -2.75em;
  }
}

/*end hover nav */
